{{> layouts}}

<body>
    {{> userHeader}}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a style="text-decoration: none;" href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="#">productDetails </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt active" href="#product-1">
                                <img src="/admin/productImage/{{products.product_image.[0].filename}}" alt="">
                            </a>
                            <a class="pt" href="#product-2">
                                <img src="/admin/productImage/{{products.product_image.[1].filename}}" alt="">
                            </a>
                            <a class="pt" href="#product-3">
                                <img src="/admin/productImage/{{products.product_image.[2].filename}}" alt="">
                            </a>
                            <a class="pt" href="#product-4">
                                <img src="/admin/productImage/{{products.product_image.[3].filename}}" alt="">
                            </a>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img data-hash="product-1" class="product__big__img"
                                    src="/admin/productImage/{{products.product_image.[0].filename}}" alt="">
                                <img data-hash="product-2" class="product__big__img"
                                    src="/admin/productImage/{{products.product_image.[1].filename}}" alt="">
                                <img data-hash="product-3" class="product__big__img"
                                    src="/admin/productImage/{{products.product_image.[2].filename}}" alt="">
                                <img data-hash="product-4" class="product__big__img"
                                    src="/admin/productImage/{{products.product_image.[3].filename}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>{{products.name}} <span>{{products.brand}}</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div>
                        <div class="product__details__price">₹ {{products.price}} <span>₹ 83.0</span></div>
                        <p>{{products.description}}</p>

                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Quantity:</span>
                                <div class="pro-qty">
                                    <input id="qtybox" type="number" value="1" min="1" max="10" step="1">
                                </div>
                            </div>
                            {{!-- <a href="#" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a> --}}
                            <a onclick="addToCart('{{products._id}}')" class="cart-btn"><span
                                    class="icon_bag_alt"></span> Add to cart</a>
                            <ul>
                                <li><a onclick="addToWishlist('{{products._id}}')"><span
                                            class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
                            </ul>
                        </div>
                     
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Description</h6>
                                <p>{{products.description}}</p>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Specification</h6>
                                <p>{{products.specification}}</p>
                                
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Reviews ( 2 )</h6>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                {{#each product}}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                            data-setbg="/admin/productImage/{{this.product_image.[0].filename}}">
                            <div class="label new">New</div>
                            <ul class="product__hover">
                                <li><a href="/productDetails?id={{this._id}}" class=""><span
                                            class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">{{this.name}}</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">₹ {{this.price}}</div>
                        </div>
                    </div>
                </div>
                {{/each}}


            </div>
        </div>
    </section>
    <!-- Product Details Section End -->


    {{> userFooter}}
    {{!-- //cart count --}}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        //cart do not refresh
        function addToCart(prodId) {
            const count = parseInt(document.getElementById("qtybox").value)
            $.ajax({
                url: '/prodct-cart',
                data: {
                    prodId: prodId,
                    count: count
                },
                method: 'post',
                success: (response) => {
                    if (response.status) {
                        let count = $('#cartcount').html()
                        count = parseInt(count) + 1
                        $("#cartcount").html(count)
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Item added to cart',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        setTimeout(() => {
                            window.location = '/cart'
                        }, 1200)


                    } else {
                        Swal.fire({
                            title: 'Please Login your account',
                            confirmButtonText:
                                'Continue <i class="fa fa-arrow-right"></i>',
                        })
                        setTimeout(() => {
                            window.location.href = '/signin'
                        }, 1300)
                    }
                }
            })
        }
    </script>


    <script>
        //wish list do not refresh
        function addToWishlist(prodId) {
            console.log(prodId)

            $.ajax({
                url: '/wishlist/' + prodId,
                method: 'get',
                success: (response) => {
                    if (response) {

                        if (response.notUser) {
                            Swal.fire({
                                title: 'Please Login your account',
                                confirmButtonText:
                                    'Continue <i class="fa fa-arrow-right"></i>',
                            })
                            setTimeout(() => {
                                window.location.href = '/signin'
                            }, 1300)
                        } else {


                            let count = $('#wishcount').html()
                            count = parseInt(count) + 1
                            $("#wishcount").html(count)
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Item added to wishlist',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    } else {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Item added to wishlist',
                            showConfirmButton: false,
                            timer: 1500
                        })


                    }

                }
            })
        }

    </script>

</body>