{{> layouts}}

<body>
    {{> userHeader}}


    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>Top Categories</h4>
                            </div>
                            <div class="categories__accordion">
                                <div class="accordion" id="">
                                    {{#each categories}}
                                    <div class="card">
                                        <a style="text-decoration: none;" href="/filter?name={{this.category}}"
                                            class="cardbody" data-toggle="" data-target="">{{this.category}}</a>
                                    </div>
                                    {{/each}}


                                </div>
                            </div>
                        </div>
                    
                        <div class="sidebar__color">
                            <div class="section-title">
                                <h4>Shop you like</h4>
                            </div>
                            <div class="size__list color__list">
                                {{#each brand}}
                                <label for="black">
                                    {{this}}
                                    <input type="checkbox" id="black">
                                    <span class="checkmark"></span>
                                </label>
                                {{/each}}

                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        {{#each products}}
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg"
                                    data-setbg="/admin/productImage/{{this.product_image.[0].filename}}">
                                    <div class="label new">New</div>
                                    <ul class="product__hover">
                                        <li><a href="/productDetails?id={{this._id}}" class=""><span
                                                    class="arrow_expand"></span></a></li>
                                        <li><a onclick="addToWishlist('{{this._id}}')"><span
                                                    class="icon_heart_alt"></span></a></li>
                                        <li><a onclick="addToCart('{{this._id}}')"><span
                                                    class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">{{this.name}}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price">₹ {{this.price}}</div>
                                </div>
                            </div>
                        </div>
                        {{/each}}


                        <div class="col-lg-12 text-center">
                            <div class="pagination__option">
                                <a href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->




    {{> userFooter}}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        //cart do not refresh
        function addToCart(prodId) {
            $.ajax({
                url: '/cart/' + prodId,
                method: 'get',
                success: (response) => {
                    if (response.status) {
                        let count = $('#cartcount').html()
                        count = parseInt(count) + 1
                        $("#cartcount").html(count)
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Item added to cart',
                            showConfirmButton: false,
                            timer: 1500
                        })

                    } else {
                        Swal.fire({
                            title: 'Please Login your account',
                            confirmButtonText:
                                'Continue <i class="fa fa-arrow-right"></i>',
                        })
                        setTimeout(() => {
                            window.location.href = '/signin'
                        }, 1300)
                    }
                }
            })
        }
    </script>



    <script>
        //wish list do not refresh
        function addToWishlist(prodId) {

            $.ajax({
                url: '/wishlist/' + prodId,
                method: 'get',
                success: (response) => {
                    if (response) {
                        if (response.notUser) {
                            Swal.fire({
                                title: 'Please Login your account',
                                confirmButtonText:
                                    'Continue <i class="fa fa-arrow-right"></i>',
                            })
                            setTimeout(() => {
                                window.location.href = '/signin'
                            }, 1300)


                        } else {


                            let count = $('#wishcount').html()
                            count = parseInt(count) + 1
                            $("#wishcount").html(count)
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Item added to wishlist',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    } else {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Item added to wishlist',
                            showConfirmButton: false,
                            timer: 1500
                        })


                    }

                }
            })
        }

    </script>




</body>