{{> layouts}}
<style>
   .col-lg-12{
    display: flex;
  justify-content: center;



   }
</style>


<body>
    {{> userHeader}}



    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="breadcrumb__links">
                        <a style="text-decoration: none;" href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Wishlist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Cart Section Begin -->

    {{#if wishlist.products}}
        <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div  class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>

                                    <th>Product</th>
                                    <th>Price</th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each wishlist.products}}
                                <tr>
                                    <td style="align-items: center;" class="cart__product__item">
                                        <a style="text-decoration:none;" href="/productdetails?id={{this.item._id}}">
                                            <img style="width: 70px;height:auto;"
                                                src="/admin/productImage/{{this.item.product_image.[0].filename}}">
                                            <div class="cart__product__item__title">
                                                <h6>{{this.item.name}}</h6>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                    </td>
                                    <td class="cart__price">₹ {{this.item.price}}</td>

                                    <td class="cart__close float-left"><span
                                            onclick="deleteWish('{{../wishlist._id}}','{{this.item._id}}')"
                                            class="icon_close"></span></td>
                                </tr>
                                {{/each}}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="/shop">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="#"><span class="icon_loading"></span> Update Wishlist</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    {{else}}
     <div style="width: auto; height: auto;" class="text-center pt-2">
                <img class="img-fluid" src="/admin/productImage/emptywishlist-removebg-preview.png" alt="">
            </div>
            
    {{/if}}
    <!-- Shop Cart Section End -->


    {{> userFooter}}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function deleteWish(wishId, prodId) {

            $.ajax({
                url: '/delete-wishlist',
                data: {
                    wishlist: wishId,
                    product: prodId,
                },
                method: 'post',
                success: (response) => {
                    if (response) {
                        Swal.fire({
                            title: 'Are you sure want to Remove?',
                            icon: 'warning',
                            showCancelButton: true,
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire(
                                    'Deleted!',
                                    'Item  has been Removed.',
                                    'success'
                                )
                                setTimeout(() => {
                                    location.reload()

                                }, 1500)
                            }
                        })

                    }
                }
            })
        }

    </script>

</body>